{% extends "crudapp/crudapp_base.html" %}
{% block body_block %}
    <div class="jumbotron">
        <h1>Welcome to the School Detail Page</h1>

        <h2>School Details:</h2>
        <p>Id_num: {{school_detail.id}}</p>
        <p>Name: {{school_detail.name}}</p>
        <p>Principal: {{school_detail.principal}}</p>
        <p>Location: {{school_detail.location}}</p>

        <h3>Students:</h3>
        {% for student in school_detail.students.all %}
            <p>{{student.name}} who is {{student.age}} years old.</p>
        {% endfor %}
    </div>

    {# Add Update link using href of anchor tag and call school_detail.html #}
    <div class="container">
        <p><a class='btn btn-warning' href="{% url 'crudapp:update' pk=school_detail.pk %}">Update</a></p>
    </div>
{% endblock %}
